/*variables*/
:root {
    --background-color: #262626;
    --mainText-color: #F4A261;
    --mainText-font: Arial, Helvetica, sans-serif;
    --section-color: #2A9D8F;
    --accent-color: #E76F51;
}
/*wild card/body*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--background-color);
    font-family: var(--mainText-font);
    color: var(--mainText-color);
}
/*header*/
header {
    padding: 10px;
    align-items: center;
    background-color: var(--section-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 12px;
}
header h1 {
    margin: 0;
    display: inline;
    font-weight: bold;
    font-size: 36px;
}
header a {
    text-decoration: none;
    color: var(--mainText-color);
}
header nav {
    float: right;
    margin: auto 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: auto 32px;
    font-size: 32px;
    border-bottom: solid var(--mainText-color) 2px;
    font-weight: lighter;
}
/*END header*/
/*hero/jumbotron*/
.hero {
    background-image: url(./images/banner_background.jpeg);
    height: 350px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 12px;
    border: 4px solid var(--accent-color);
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.hero img {
    border-radius: 12px;
    border: solid 4px var(--accent-color);
    float: left;
    height: 263px;
    margin: 42px auto auto 35px;
    display: flex;
}
.hero h2 {
    background-color: var(--section-color);
    border-radius: 12px;
    font-weight: normal;
    font-size:calc(9px + 2.5vw);
    width: 35%;
    min-width: 110px;
    padding-right: 25px;
    text-align: end;
    align-self: flex-end;
    margin-bottom: 45px;
    margin-right: 45px;
}
/*END hero section*/
/*section: main*/
/*"about me" section*/
.main {
    display: flex;
    flex-flow: column nowrap;
}
#about-me, #my-work {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 4px 4px 4px;
    max-width: 70%;
}
#about-me h3, #my-work h3 {
    border-right: solid 2px var(--mainText-color);
    margin-right: 15px;
    text-align: center;
}
#about-me p {
    text-align: left;
}
/*END "about me" section*/
/*hover + opacity change*/
.run-buddy:hover, .refractor:hover, .robots:hover, .password-generator:hover, .quiz:hover {
    opacity: 75%;
}
/*"my work" section"*/
.run-buddy {

}

/*footer*/
footer {
    background-color: var(--section-color);
    padding: 6px;
    border-radius: 12px;
}
footer p {
    color: var(--mainText-color);
    margin: auto;
    opacity: 80%;
    text-align: center;
}
/*END footer*/